<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <title>{% block title %}Электронная библиотека{% endblock %}</title>


</head>

<body>

  <!-- HEADER -->
  <header>
  <div class="header-inner">
    <div class="brand-logo">
      <img src="{{ url_for('static', filename='images/library_logo.png') }}" alt="Логотип">

      <div class="org-name">
        <h1>Электронная библиотека предприятия</h1>

        <nav class="header-links">
          <a href="{{ url_for('index') }}">Главная</a>
          <a href="{{ url_for('instructions') }}">Инструкции</a>
          <a href="{{ url_for('admin_panel') }}">Редактирование</a>
        </nav>
      </div>
    </div>
  </div>
</header>

  <!-- MAIN CONTENT -->
  <main>
    {% block content %}{% endblock %}
  </main>

  <!-- FOOTER -->
  <footer>
    <div class="footer-inner">
      <div>
        <strong>Контакты организации</strong><br />      
      </div>

      <div class="contacts">
        Телефон: <a href="tel:+70000000000"></a><br />
      </div>

      <div>
        © <span id="year"></span> 
      </div>
    </div>
  </footer>

  <script>
    document.getElementById("year").textContent = new Date().getFullYear();
  </script>
</body>
</html>
