gh{% extends "base.html" %}

{% block title %}Главная{% endblock %}

{% block content %}
  <div class="card">
      <h2 style="margin-top:0;">Добро пожаловать!</h2>
      <p style="margin-bottom:0;">
        <h4>Учалинский горно-обогатительный комбинат (Учалинский ГОК) — одно из крупнейших предприятий горнодобывающей отрасли Республики Башкортостан.
        Комбинат осуществляет добычу и переработку руд цветных металлов, обеспечивая выпуск концентратов и сырья для металлургической промышленности.
        Предприятие уделяет особое внимание промышленной безопасности, качеству продукции и развитию кадрового потенциала. 
        </h4>
        <p style="margin-bottom:0;">
          <h4>Данная электронная библиотека позволяет легко и быстро получить доступ к актуальным инструкциям по технике безопасности для каждой професии,
            проходить тестирование на усвоение материала</h4>
          <img src="{{ url_for('static', filename='images/sigma_boy.png') }}" alt="png" height="40%" width="30%">
    </div>
{% endblock %}


